<div id="overlay-menu" class="overlay-menu">

    <a href="index.html#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

    <div class="overlay-menu-inner">
        <nav class="overlay-menu-nav">
            <ul id="nav">

                <li><a href="/#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>
        </nav>
    </div>

    <div class="overlay-navigation-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">
                    <p class="copyright font-alt m-b-0">© 2016 wigwam.design, All Rights Reserved.</p>
                </div>

            </div>

        </div>

    </div>

</div>