<div id="overlay-menu" class="overlay-menu">

    <a href="index.html#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

    <div class="overlay-menu-inner">
        <nav class="overlay-menu-nav">
            <ul id="nav">

                <li><a href="/#" data-options="home">Home</a></li>
                <li><a href="/about" data-options="about">About</a></li>
                <li><a href="/contact" data-options="contact">Contact</a></li>

            </ul>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <span id="englishSelector">English</span>
                &nbsp;&nbsp;&nbsp;
                <span id="cymraegSelector">Cymraeg<sup>(beta)</sup></span>
            </div>
        </div>
    </div>

    <div class="overlay-navigation-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">
                    <p class="copyright font-alt m-b-0">© 2016 wigwam.design,
                        <span id="menu-footer-allrightsreserved">All Rights Reserved.</span>
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>