<form id="contact-form" role="form">

    <div class="form-group">
        <label class="sr-only" for="contact-form-input-name">Name</label>
        <input id="contact-form-input-name" class="form-control" name="name" placeholder="Name*">
        <p class="help-block text-danger"></p>
    </div>

    <div class="form-group">
        <label class="sr-only" for="contact-form-input-email">Your Email</label>
        <input type="email" id="contact-form-input-email" name="email" class="form-control"
               placeholder="Your E-mail*">
        <p class="help-block text-danger"></p>
    </div>

    <div class="form-group">
        <textarea class="form-control"
                  id="contact-form-textarea-message"
                  name="message"
                  rows="7"
                  placeholder="Message*"></textarea>
        <p class="help-block text-danger"></p>
    </div>

    <div class="text-center">
        <button id="contact-form-button-submit" class="btn btn-block btn-round btn-d">Submit</button>
    </div>

</form>