<form id="contact-form" class="contact-form" role="form" novalidate="">

    <div class="form-group">
        <label class="sr-only" for="cname">Name</label>
        <input type="text" id="cname" class="form-control" name="cname" placeholder="Name*" required
               data-validation-required-message="Please enter your name.">
        <p class="help-block text-danger"></p>
    </div>

    <div class="form-group">
        <label class="sr-only" for="cemail">Your Email</label>
        <input type="email" id="cemail" name="cemail" class="form-control"
               placeholder="Your E-mail*"
               required data-validation-required-message="Please enter your email address.">
        <p class="help-block text-danger"></p>
    </div>

    <div class="form-group">
                        <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message*"
                                  required data-validation-required-message="Please enter your message."></textarea>
        <p class="help-block text-danger"></p>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-block btn-round btn-d">Submit</button>
    </div>

</form>