<form id="contact-form" role="form">

    <div class="form-group">
        <label class="sr-only" for="name">Name</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="Name*">
        <p class="help-block text-danger"></p>
    </div>

    <div class="form-group">
        <label class="sr-only" for="email">Your Email</label>
        <input type="email" id="email" name="email" class="form-control"
               placeholder="Your E-mail*">
        <p class="help-block text-danger"></p>
    </div>

    <div class="form-group">
        <textarea class="form-control" id="message" name="message" rows="7" placeholder="Message*"></textarea>
        <p class="help-block text-danger"></p>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-block btn-round btn-d">Submit</button>
    </div>

</form>