<footer class="module bg-light">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <ul class="social-text-links font-alt text-center m-b-20">
                    <li><a href="https://www.instagram.com/wigwam.design/">Instagram</a></li>
                    <li><a href="https://twitter.com/wigwamdesign" target="_blank">Twitter</a></li>
                    <li><a href="https://uk.pinterest.com/wigwamdesign/" target="_blank">Pinterest</a></li>
                    <!--<li><a href="https://www.houzz.co.uk/user/wigwamdesign" target="_blank">Houzz</a></li>-->
                </ul>

            </div>

        </div>

        <div class="row m-b-20">

            <div class="col-sm-12">

                <table style="width: 64px;margin: auto" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="https://www.houzz.co.uk/pro/wigwamdesign/$url">
                                <img src="https://st.hzcdn.com/static_en-GB/badge64_64@2x.png"
                                     alt="Wigwam Design in Rainford, UK on Houzz"
                                     width="64" height="64" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">

            <p class="copyright text-center m-b-0">© 2016 <a href="#">wigwam.design</a>, All Rights Reserved.
            </p>

        </div>

    </div>

    </div>

</footer>